.flex-center-for-add-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #fff;
  text-transform: capitalize;
  padding: 20px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 16, 107);
}
