*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.expense-item{
    background-color: rgb(61, 60, 60);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.expense-item-date{
    color: #fff;
    font-size: 25px;
    margin: auto auto;
    border: 2px solid #fff;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
}
.day{
    font-size: 40px;
}
.expense-item-description{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
}

.expense-item-price{
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(84, 24, 139);
    font-size: 35px;
}